body{
    max-width: 1200px;
    color: white;
    background-color: #D9D9D9;
}
.nevkartya{
    background-color: #AA0202;
    margin-left: 200px;
    border-radius: 20px;
    text-align: center;
    width: 1500px;
}
.fejlesztoNeve{
    font-size: 30px;
}
.navigacio{
    background-color: black;
    border-radius: 20px;
    margin-left: 450px;
    width: 1000px;
    height: 40px;
}
.menupontok{
    margin-left: 200px;
}
.menupont{
    text-decoration: none;
    color: white;
    font-size: 30px;
    gap: 40px;
}
.bemutatkozas{
    margin-top: 200px;
    background-color: black;
}