body{
    max-width: 1200px;
    color: white;
    background-color: #edede9;
}
.nevkartya{
    background-color: #AA0202;
    margin-left: 200px;
    border-radius: 20px;
    text-align: center;
    width: 1500px;
}
.fejlesztoNeve{
    font-size: 30px;
}
.navigacio{
    background-color: #d6ccc2;
    border-radius: 20px;
    margin-left: 450px;
    width: 1000px;
    height: 40px;
}
.menupontok{
    margin-left: 200px;
}
.menupont{
    text-decoration: none;
    color: white;
    font-size: 30px;
    gap: 40px;
}
.bemutatkozas{
    margin-top: 100px;
    margin-left: 700px;
    border-radius: 20px;
    background-color: #d5bdaf;
    text-align: center;
    font-size: 70px;
}
.bemutatkozasLeiras{
    background-color: #e3d5ca;
    border-radius: 20px;
    height: 400px;
    padding: 10px;
    font-size: 20px;
    width: 1400px;
}
.container{
    display: flex;
}
.kartya{
    background-color: #d5bdaf;
    width: 400px;
    height: 35px;
    padding: 20px;
    margin-left: 100px;
}